.nav {
    color: lightgray;
    background-color: blue;
    display: inline;
    text-align: center;
    width: auto;
}

body {
  background-color: lightblue;
}

h1 {
font-weight: bold;
margin-top: 15px;
}

.foot {
 color: lightgray;
 text-align: center;
 background-color: blue;
 margin-top: 30px;
}

#link {
margin-top: 30px;
}

#formLogin, h1, p, h3, #link {
  display: block;
  text-align: center;
}

#signupform {
  display: block;
  text-align: center;
  margin-top: 45px;
}

img {
    border-radius: 20%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
}

#myprof {
    display: block;
    text-align: center;
    margin-top: 45px;
}

ul {
    display: block;
    text-align: center;
    margin-top: 30px;
    list-style: none;
}

a{
    display: block;
    text-align: center;
}

#errorMsg {
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
}