<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link href="/styles.css" rel="stylesheet" />
<head>
    <meta charset="UTF-8">
    <title>CodeFellowship of the Ring</title>
</head>
<body>
<h2 class="name">We appreciate you, <span th:text="${user.username}"></span></h2>
<img src="/cashMoney.jpeg" alt="Cash" width="400px">
<a th:href="@{/users}">All the Users</a>
<div th:replace="fragments/footer :: foot"></div>
</body>
</html>