<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link href="/styles.css" rel="stylesheet" />
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
</head>
<body>
<h1>Profile</h1>
<img src="/user.jpeg" alt="UserPic">
<ul>
    <li th:each="user : ${user}">
        Username: <span th:text="${user.username}"></span><br>
        First Name: <span th:text="${user.firstName}"></span><br>
        Last Name: <span th:text="${user.lastName}"></span><br>
        Date of Birth: <span th:text="${user.dateOfBirth}"></span><br>
        Bio: <span th:text="${user.bio}"></span><br>
    </li>
</ul>
<a th:href="@{/codefellowshipOfTheRing}">To the CodeFellowship of the Ring!</a><br>
<a th:href="@{/users}">Check out all the members of the CodeFellowship!</a><br>
<a href="/logout_completed">Logout</a>
<div th:replace="fragments/footer :: foot"></div>
</body>
</html>