<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link href="/styles.css" rel="stylesheet" />
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
</head>
<body>
<h1>Profile</h1>
<img src="/user.jpeg" alt="UserPic">
<ul>
    <li th:each="user : ${user}">
        Username: <span th:text="${user.username}"></span><br>
        First Name: <span th:text="${user.firstName}"></span><br>
        Last Name: <span th:text="${user.lastName}"></span><br>
        Date of Birth: <span th:text="${user.dateOfBirth}"></span><br>
        Bio: <span th:text="${user.bio}"></span><br>
    </li>
</ul>
</body>
</html>