<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<link href="/styles.css" rel="stylesheet" />
<head>
    <meta charset="UTF-8">
    <title>Feeds</title>
</head>
<body>
<h2>I'm Following:</h2>
<fieldset th:each="tonga : ${user.followers}">
    <legend th:text="${tonga.username}"></legend>
    <ul>
        <li th:each="post: ${tonga.posts}"><span th:text="${post.body}"></span></li>
    </ul>
</fieldset><br>
<a th:href="@{/users}">Check out all the members of Codefellowship and Follow someone and/or follow more!</a><br>
<a th:href="@{/myprofile}">Back to Your Profile</a><br>
</body>
</html>