
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/base-min.css">
    <link href="/styles.css" rel="stylesheet" />
</head>
<body>
<h1>Welcome to the Codefellowship!</h1>
<img src="/Coding.jpeg" alt="Cash" width="400px">
<a href="/login">Log In </a>
<br>
<a href="/signup">Sign Up </a><br>
<div th:replace="fragments/footer :: foot"></div>
</body>
</html>