<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link href="/styles.css" rel="stylesheet" />
<head>
    <meta charset="UTF-8">
    <title>My Profile</title>
</head>
<body>
<h1>My Profile</h1>
<img src="user.jpeg" alt="UserPic" width="500px">
<div id="myprof">
<ul>
    <li th:each="user : ${user}">
        Username: <span th:text="${user.username}"></span><br>
        First Name: <span th:text="${user.firstName}"></span><br>
        Last Name: <span th:text="${user.lastName}"></span><br>
        Date of Birth: <span th:text="${user.dateOfBirth}"></span><br>
        Bio: <span th:text="${user.bio}"></span><br>
    </li>
</ul>
</div>
<a th:href="@{/codefellowshipOfTheRing}">To the CodeFellowship of the Ring!</a><br>
<a th:href="@{/users}">Check out all the members of the CodeFellowship!</a><br>
<a href="/logout_completed">Logout</a>
</body>
</html>