<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link href="/styles.css" rel="stylesheet" />
<head>
    <meta charset="UTF-8">
    <title>User Sign-Up</title>
</head>
<body>
<h1>Sign-Up Form</h1>
<div id="signupform">
<form method="POST" action="/signup">
    <label for="username">Username:</label><input name="username" id="username"/>
    <label for="password">Password:</label><input name="password" id="password" type="password"/>
    <label for="firstName">First Name:</label><input name="firstName" id="firstName"/><br><br>
    <label for="lastName">Last Name:</label><input name="lastName" id="lastName"/>
    <label for="dateOfBirth">Date of birth:</label><input name="dateOfBirth" id="dateOfBirth"/><br><br>
    <label for="bio">Bio:</label><input name="bio" id="bio" input type="textbox"/><br><br>
    <input type="submit" />
</form>
</div>

</body>
</html>