<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link href="/styles.css" rel="stylesheet" />
<head>
    <meta charset="UTF-8">
    <title>Users</title>
</head>
<body>
<h1>All the Users</h1>
<ul>
    <li th:each="user : ${user}">
        User Name: <span th:text="${user.username}"></span><br>
        <a th:href="@{'/details/' + ${user.id}}">Details</a>
    </li>
</ul>
<div th:replace="fragments/footer :: foot"></div>
</body>
</html>