<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link href="/styles.css" rel="stylesheet" />
<head>
    <meta charset="UTF-8">
    <title>Users</title>
</head>
<body>
<h2 class="name">You're Awesome, <span th:text="${name.username}"></span></h2>
<h1>All the Users</h1>

<table>
    <thead>
    <th>Username</th>
    <th>All the Dets</th>
    <th>Follow</th>
    </thead>
    <tr th:each="tonga : ${user}">
        <td><span th:text="${tonga.username}"></span></td>
        <td><a th:href="@{'/details/' + ${tonga.id}}">All the Dets</a></td>
        <td>
            <div th:if="${tonga != name && !(name.followers.contains(tonga))}">
            <form th:action="'/follow/' + ${tonga.id}" method="POST"><input type="submit" value="Follow"></form>
            </div>
        </td>
    </tr>
</table>
<div th:replace="fragments/footer :: foot"></div>
</body>
</html>